
/* Style the header with a grey background and some padding */
/* Style the header with a grey background and some padding */
/* .header { 
  background-color: #3d3d3d3d;
  color: rgb(255, 255, 255);
  padding: 20px 40px;
  font-family: 'Roboto', sans-serif;
  
}  */

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
/* .header a.logo {
  font-size: 25px;
  font-weight: 50;
  font-family: Arial, Helvetica, sans-serif;

} */

/* Change the background color on mouse-over */
.header-right a {
    display: inline;
    margin-right: 100px;
    position: relative;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.header-right a:last-child {
    margin-right: 0px;
}
.header-right a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color:  darkcyan;
    -webkit-transition: .5s;
    transition: .5s
  
}
.header-right a:hover:before {
    width: 100%
}

/* Float the link section to the right */
.header-right {
float: right;
  text-align: center;
  transform: translate(-20%,-20%);
    background-color: #3d3d3d3d;
    color: rgb(255, 255, 255);
    padding: 18px 90px;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    width: 100%;
  
}

body {
    /* margin: 0;
    height: 100vh;
    font-weight: 100;
    background: radial-gradient(#000000,#1f1013); */
    background: radial-gradient(#000000,#1f1013);
    margin-left:auto;
    margin-right:auto;
    width:960px;
   

}




/* Below I have the Design for the Body and Username and Password Box */


.box{
  border-radius: 25px;
  width:300px;
  height: 250px;
  padding:30px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-55%,-40%);
  background:rgba(255, 66, 66, 0.452);
  text-align:center;
  border: 1px solid white;

}
.box h2
{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    transform: translate(0%,-200%);
}
.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border:2px solid white;
    padding:14px 10px;
    width:220px;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 24px;
    transition:0.25px;
    transform: translate(0%,-150%);
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
    width:270px;
    border-color: darkcyan;
    color: white;
}
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:2px solid #fdfdfd; /* Login Border Button*/
    padding:14px 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition:0.25px;
    cursor:pointer;
    transform: translate(0%,-150%);   
}

.box input[type="submit"]:hover{
    background: darkcyan;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}