{{ define "main" }}

<section class="hero">

<h1>Hello, I'm Marco Aguilera 👋 </h1>
<br>
<p style="font-size: 0.95rem;">
I'm a Site Reliability Engineer specializing in Observability, Platform Engineering, and AI Infrastructure.
<br>
<br>
Over the last few years I have worked at a Global Enterprise Company that sells amazing chips and drinks at a local
store near you. My focus has been leading the Observability Stack and managing thousands of datastreams with the best 
industry practices to provide end to end visibility.
<br>
<br>
I enjoy understanding how technology works, so I will be using this space to write about my projects, and experiences
with Enterprise Engineering and everything else under the sun.
</p>

</section>


<hr>
<div style="margin-top: 50px;"></div>


<section id="projects">

<h2>Featured Projects</h2>
<br>
<div class="project-container">

{{ range first 3 (where site.RegularPages "Section" "projects") }}

<article class="project-card">

<h3>
<a href="{{ .RelPermalink }}">
{{ .Title }}
</a>
</h3>

<p>
{{ .Description }}
</p>

{{ with .Params.tags }}
<p>
{{ range . }}
<span>{{ . }}</span>
{{ end }}
</p>
{{ end }}

</article>

{{ end }}

</div>

</section>


<hr>
<div style="margin-top: 50px;"></div>

<section id="blog">

<h2>Latest Writing</h2>
<br>
{{ range first 3 (where site.RegularPages "Section" "posts") }}

<article class="post-preview">

<small>
{{ .Date.Format "Jan 2006" }}
</small>

<h3>
<a href="{{ .RelPermalink }}">
{{ .Title }}
</a>
</h3>

<p>
{{ .Description }}
</p>

</article>

{{ end }}

</section>

<hr>


{{ end }}
